<div class="logined-page">
  <!-- <h1>{{ title }}</h1> -->

  <div *ngIf="admin() == 'true' ? true : false" class="admin-panel">
    <h1>Administrator Panel</h1>
    <h2>Registrated users:</h2>
    <ul>
      <li *ngFor="let i of mappedArr">{{i.name}}<input type="text" name="" value="" [(ngModel)] = i.name/> <button type="button" (click)="delFunc($event)" name="button">x</button></li>
    </ul>
  </div>

  <div *ngIf="admin() == 'false' ? true : false">
    <h1>User Page:</h1>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17" [disableDoubleClickZoom]="true">
      <agm-marker [latitude]="lat" [longitude]="lng">   </agm-marker>
      <form class="" method="post" (submit)="addMarker()">
        <input type="text" name="markerName" value="marker-name" [(ngModel)] = "markerName"/>
        <input type="submit" name="marker-name" value="map!">
      </form>
    </agm-map>
  </div>

</div>
