<div class="logined-page">
  <!-- <h1>{{ title }}</h1> -->

  <div *ngIf="admin() == 'true' ? true : false" class="admin-panel">
    <h1>Administrator Panel</h1>
    <h2>Registrated users:</h2>
    <ul>
      <li *ngFor="let i of mappedArr">{{i.name}}<input type="text" name="" value="" [(ngModel)] = i.name/> <button type="button" (click)="delFunc($event)" name="button">x</button></li>
    </ul>
  </div>

  <div class='maps' *ngIf="admin() == 'false' ? true : false">
    <h1 (click)="testMethodButtons()">User Page:</h1>
    <input type="text" class="input" placeholder="Search..." #inputElement>
    <button type="button" name="button" (click)="addLocation(inputElement.value)">+ ADD TO LOCATION LIST</button>
    <div class="map" #mapElement>
    </div>
    <ul>
      <li *ngFor="let z of some">{{z}} <button type="button" (click)="delFunc($event)" name="button">x</button></li>
    </ul>
  </div>



</div>
